**Store Sales Forecasting**

**1. Importing**

*a. Import packages*

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.2f}'.format
warnings.filterwarnings('ignore')

*b. Importing Data*

In [10]:
train_data = pd.read_csv('dataset/train.csv')
test_data = pd.read_csv('dataset/test.csv')
stores_data = pd.read_csv('dataset/stores.csv')
transac_data = pd.read_csv('dataset/transactions.csv').sort_values(["store_nbr", "date"])

to datetime

In [12]:
train_data["date"] = pd.to_datetime(train_data.date)
test_data["date"] = pd.to_datetime(test_data.date)
transac_data["date"] = pd.to_datetime(transac_data.date)

managing datatype

In [13]:
train_data.onpromotion = train_data.onpromotion.astype("float16")
train_data.sales = train_data.sales.astype("float32")
stores_data.cluster = stores_data.cluster.astype("int8")

In [15]:
train_data.head()

   id       date  store_nbr      family  sales  onpromotion
0   0 2013-01-01          1  AUTOMOTIVE   0.00         0.00
1   1 2013-01-01          1   BABY CARE   0.00         0.00
2   2 2013-01-01          1      BEAUTY   0.00         0.00
3   3 2013-01-01          1   BEVERAGES   0.00         0.00
4   4 2013-01-01          1       BOOKS   0.00         0.00